# Assignment 3

# Table of Content
## Overview
1. Where is 307?

## Data Exploration
1. People's Behavior in terms of Dwell Time 
2. Which areas of 307 do people pass through
3. Where do people tend to linger?
4. How does dwell time change over time?

## In-depth Analysis
1. How do different zones affect people's behavior?
2. How do events affect people's behavior?
3. What is the best maintenance strategy?
4. What are other factor affect people's bahavior?

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [112]:
import plotly as py
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
#init_notebook_mode(connected=True)

import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)

# Extra options
# pd.options.display.max_rows = 30
# pd.options.display.max_columns = 25

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import os
from IPython.display import Image, display, HTML

In [113]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [114]:
# store login data in login.py
%run login.py

In [115]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [116]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [117]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [118]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-03-21T18:01:13.080409',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODQ4MTM2NzMsImlhdCI6MTU4NDcyNzI3Mywic3ViIjoyODZ9.CHB7rsZ-dHpyMOVzkAlw9D1bVvYcrYPC2j0bNL35skQ'}}}}

In [119]:
device_ids = ['SWLSANDBOX1', 'SWLSANDBOX2', 'SWLSANDBOX3']

In [120]:
def get_zones(device_id):
    
    query_zones = """
    query {{
      behaviorZones (
        serialnos: "{0}"
        ) {{
        count
        edges {{
          node {{
            rawId
            text
          }}
        }}
      }}
    }}
    """.format(device_id)
    
    zones = requests.post(url, json={'query': query_zones}, headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in zones.json()['data']['behaviorZones']['edges']])
    df['device'] = device_id
    
    return df

In [121]:
zones_df = pd.concat([get_zones(device_ids[i]) for i in range(3)])

In [122]:
zones_df

     rawId          text       device
0     1899    pine_table  SWLSANDBOX1
1     1947      entrance  SWLSANDBOX1
2     1949     entrance1  SWLSANDBOX1
3     1956     modelzone  SWLSANDBOX1
4     1966  entrence alt  SWLSANDBOX1
..     ...           ...          ...
860   5063          None  SWLSANDBOX3
861   5110          None  SWLSANDBOX3
862   5111          None  SWLSANDBOX3
863   5112          None  SWLSANDBOX3
864   5113          None  SWLSANDBOX3

[2069 rows x 3 columns]

In [123]:

def get_dwell(func, ID, interval):
    '''
    func is either feedDwellTimeDistribution or zoneDwellTimeDistribution
    '''
    if func == 'feedDwellTimeDistribution':
        arg = 'serialnos: "{0}"'.format(ID)
    else:
        arg = 'zoneIds: {0}'.format(ID)
        
    query = """
    query {{
        {0}(
        {1},
        startTime: "2019-02-20T00:00:00",
        endTime: "2020-01-12T00:00:00",
        timezone: "America/New_York",
        objClasses: ["pedestrian"],
        interval: "{2}"
        ){{
        edges {{
          node {{
            time
            objClass
            pct100
            pct75
            pct50
            pct25
            mean
            count
          }}
        }}
      }}
    }}
    """.format(func, arg, interval)

    dwell = requests.post(url, json={'query': query}, 
                           headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in dwell.json()['data'][func]['edges']])
    if func == 'feedDwellTimeDistribution':
        df['device'] = ID
    else:
        df['zone'] = ID
    
    return df

In [124]:
feed_dwell_1d_df = pd.concat([get_dwell('feedDwellTimeDistribution', device_ids[i], '1d') 
                              for i in range(3)])

In [125]:
feed_dwell_1d_df[feed_dwell_1d_df['count']!=0].head()

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
0,3272,15.26,pedestrian,14.03,2.60,2.60,5.70,2019-02-20T00:00:00-05:00,SWLSANDBOX1
1,158,6.40,pedestrian,7.32,2.56,2.56,4.18,2019-02-21T00:00:00-05:00,SWLSANDBOX1
2,83,19.57,pedestrian,15.10,3.62,3.62,7.87,2019-02-22T00:00:00-05:00,SWLSANDBOX1
3,8,4.69,pedestrian,6.80,2.09,2.09,3.66,2019-02-23T00:00:00-05:00,SWLSANDBOX1
4,6,3.99,pedestrian,6.26,1.06,1.06,4.69,2019-02-24T00:00:00-05:00,SWLSANDBOX1

In [ ]:
## zone_dwell_1d_df = pd.concat([get_dwell('zoneDwellTimeDistribution', z, '1d')
##                           for z in zones_df['rawId'].values])

In [ ]:
## zone_dwell_1d_df[zone_dwell_df['count']!=0]

In [19]:
'''
def extract_time(df):
    df['year'] = df['time'].str[:4].astype(int)
    df['month'] = df['time'].str[5:7].astype(int)
    df['day'] = df['time'].str[8:10].astype(int)
    df['date'] = pd.to_datetime(df['time'].str[:10])
    df['hour'] = df['time'].str[11:13].astype(int)
    return df.drop('time', axis=1)
''';

In [20]:
'''
feed_dwell_df = extract_time(feed_dwell_df)
zone_dwell_df = extract_time(zone_dwell_df)
''';

In [126]:
# replace NaN with 0
feed_dwell_1d_df = feed_dwell_1d_df.fillna(0)
# zone_dwell_df = zone_dwell_df.fillna(0)

In [127]:
feed_dwell_1d_df['time'] = feed_dwell_1d_df['time'].str[:-6].apply(lambda x : pd.Timestamp(x))

In [128]:
# zone_dwell_1d_df['time'] = zone_dwell_1d_df['time'].str[:-6].apply(lambda x : pd.Timestamp(x))
# zone_dwell_1d_df.zone = zone_dwell_1d_df.zone.astype(str)

In [129]:
feed_dwell_1d_df

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
0,3272,15.26,pedestrian,14.03,2.60,2.60,5.70,2019-02-20,SWLSANDBOX1
1,158,6.40,pedestrian,7.32,2.56,2.56,4.18,2019-02-21,SWLSANDBOX1
2,83,19.57,pedestrian,15.10,3.62,3.62,7.87,2019-02-22,SWLSANDBOX1
3,8,4.69,pedestrian,6.80,2.09,2.09,3.66,2019-02-23,SWLSANDBOX1
4,6,3.99,pedestrian,6.26,1.06,1.06,4.69,2019-02-24,SWLSANDBOX1
...,...,...,...,...,...,...,...,...,...
321,820,10.53,pedestrian,10.36,2.12,2.12,4.68,2020-01-07,SWLSANDBOX3
322,80,5.96,pedestrian,5.23,2.08,2.08,3.64,2020-01-08,SWLSANDBOX3
323,109,5.17,pedestrian,5.30,2.59,2.59,4.14,2020-01-09,SWLSANDBOX3
324,96,8.98,pedestrian,7.85,3.10,3.10,4.71,2020-01-10,SWLSANDBOX3
325,23,13.73,pedestrian,19.25,3.67,3.67,6.26,2020-01-11,SWLSANDBOX3

In [130]:
def get_df(groupby):
    if groupby == 'device':
        return feed_dwell_1d_df.copy()
    else:
        return zone_dwell_1d_df.copy()

In [131]:
def plot_dwell_timeline(groupby, selected, metric, start_date, end_date):
    '''
    device_or_zone is either 'device' or 'zone';
    selected is a list of device rawIds or zone rawIds;
    metric is a value in ['mean', 'pct100', 'pct75', 'pct50', 'pct25']
    '''
    df = get_df(groupby)
        
    plot_df = df.loc[(df.time.dt.date >= start_date) & 
                     (df.time.dt.date <= end_date)].copy()
    
    fig = go.Figure()
    
    for s in selected:
        sub_df = plot_df[plot_df[groupby] == s]
        fig.add_trace(go.Scatter(x=sub_df.time, y=sub_df[metric], mode='lines', name=s))
    
    fig.update_layout(
        title=f"Dwell Time ({metric}) grouped by '{groupby}'",
        xaxis_title="time",
        yaxis_title=metric)
    
    fig.show()

In [132]:
_ = interact(plot_dwell_timeline, 
             groupby='device',
             selected=widgets.SelectMultiple(options=device_ids, value=device_ids, disabled=False),
             metric=widgets.Dropdown(options=['mean', 'pct100', 'pct75', 'pct50', 'pct25'], value='mean'), 
             start_date=widgets.DatePicker(value=pd.to_datetime('2019-02-20')),
             end_date=widgets.DatePicker(value=pd.to_datetime('2020-01-12')),
            )

interactive(children=(Text(value='device', description='groupby'), SelectMultiple(description='selected', indeâ€¦

- BOX1 = StreetScape;
- BOX2 = Under Raincoat;
- BOX3 = Outside

The days and devices with the highest mean dwell time are the following:
1. BOX1: 2019-08-17
2. BOX1: 2019-05-04
3. BOX3: 2019-11-14

In [133]:
feed_dwell_1d_df[feed_dwell_1d_df['mean'] >= 140].sort_values('mean', ascending=False)

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
178,75,343.66,pedestrian,36.02,3.65,3.65,10.36,2019-08-17,SWLSANDBOX1
73,128,340.78,pedestrian,46.36,6.80,6.80,15.13,2019-05-04,SWLSANDBOX1
267,605,145.88,pedestrian,13.49,3.67,3.67,6.25,2019-11-14,SWLSANDBOX3

In [134]:
feed_dwell_1d_df.groupby('device')['count'].describe()

,count,mean,std,min,25%,50%,75%,max
device,,,,,,,,
SWLSANDBOX1,326.0,1161.288344,1552.170562,0.0,111.50,615.0,1721.75,14922.0
SWLSANDBOX2,326.0,129.000000,201.519001,0.0,0.00,76.0,180.50,2047.0
SWLSANDBOX3,326.0,311.496933,470.222891,0.0,56.25,196.0,414.50,5625.0

In [135]:
def boxplot_dwell(groupby, column, bound_factor):
    df = get_df(groupby)
    
    q3 = df[column].quantile(0.75) 
    q1 = df[column].quantile(0.25)
    iqr = q3 - q1
    sub_df = df[(df[column] <= q3 + iqr*bound_factor) & 
                  ((df[column] >= q1 - iqr*bound_factor))]
    
    if column == 'count':
        title = f"distribution of count grouped by '{groupby}'" +\
        " with values {bound_factor} * IQR beyond Q1/Q3 removed"
    else:
        title = f"distribution of mean dwell time grouped by '{groupby}'" +\
        f" with values {bound_factor} * IQR beyond Q1/Q3 removed"
    
    fig = px.box(sub_df, x=groupby, y=column, points="all", title=title)

    fig.show()

In [136]:
_ = interact(boxplot_dwell, 
             groupby='device',
             column=widgets.RadioButtons(options=['count', 'mean'], value='count'),
             bound_factor=widgets.FloatSlider(
                 value=1.5,
                 min=-3,
                 max=10,
                 step=0.1,
                 disabled=False,
                 continuous_update=False,
                 orientation='horizontal',
                 readout=True,
                 readout_format='.1f')
            )

interactive(children=(Text(value='device', description='groupby'), RadioButtons(description='column', options=â€¦

### Obtain heatmap for pedestrians

In [39]:
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta
import calendar
START_DATE = datetime(2019, 2, 20, 0, 0, 0)
END_DATE = datetime(2019, 3, 20, 0, 0, 0)
time_delta = relativedelta(days = +1)

In [33]:
import pandas as pd
heatmap_df = pd.DataFrame(columns = ['startTime', 'endTime', 'heatMap'])

In [34]:
def heatmap_query_gen(startTime: str, endTime: str):
    heatmap_query = """
query {{
  feedHeatmaps(
    serialno: "SWLSANDBOX1",
    startTime:"{0}",
    endTime:"{1}",
    objClasses:["pedestrian"],
    timezone:"America/New_York") {{
    edges {{
      node {{
        time
        objClass
        heatmap
      }}
    }}
  }}
}}
""".format(startTime, endTime)
    return heatmap_query

In [40]:
current_date = START_DATE
while current_date < END_DATE:
    start_time_str = current_date.strftime('%Y-%m-%dT%H:%M:%S')
    end_time = current_date + time_delta
    end_time_str = end_time.strftime('%Y-%m-%dT%H:%M:%S')
    heatmap_data = requests.post(url, json={'query': heatmap_query_gen(start_time_str, end_time_str)}, 
                         headers = {'Authorization':token})
    heatmap_json = heatmap_data.json()
    if heatmap_json['data']:
        if 'feedHeatmaps' in heatmap_json['data']:
            heatmap = heatmap_json['data']['feedHeatmaps']['edges'][0]['node']['heatmap']
            temp_df = pd.DataFrame({"startTime":current_date, "endTime":end_time, 'heatMap':heatmap})
            heatmap_df = heatmap_df.append(temp_df, ignore_index = True)
    current_date = current_date + time_delta

In [ ]:
ed_heatmap_df = heatmap_df.groupby(['startTime', 'endTime'])['heatMap'].apply(list).reset_index(name='heatMapMatrix')

In [142]:
from IPython.display import display
def plot_heatmap(start_time):
    map_img = mpimg.imread('streetscape_sandbox.png')
    matrix = list(ed_heatmap_df[ed_heatmap_df['startTime'] == start_time]['heatMapMatrix'])[0]
    x = [i[0] for i in matrix] 
    y = [i[1] for i in matrix]
    z = [i[2] for i in matrix]
    fig, ax = plt.subplots(figsize=(15,10))
    ax.scatter(x, y, c=z, s=10, cmap=plt.cm.Wistia) # Other color maps: plt.cm.cmap_d.keys())
    ax.imshow(map_img, aspect='auto')
    plt.axis('off')
    plt.title("Heatmap for date {0}".format(start_time.date()), fontsize=20)
    plt.show()
interact(plot_heatmap, start_time=widgets.DatePicker(value = pd.to_datetime('2019-02-26'), description='Pick a Date'))

interactive(children=(DatePicker(value=Timestamp('2019-02-26 00:00:00'), description='Pick a Date'), Output())â€¦