In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Write the code for your interactive webpage in this notebook.

In [1]:
# store login data in login.py
%run login.py

In [2]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [3]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [4]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [5]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-03-14T20:10:07.259356',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODQyMTY2MDcsImlhdCI6MTU4NDEzMDIwNywic3ViIjoyNzR9.1ZIT6U5nOzyEQJbcoq4W1NvZo4X9mcTPQKgvBpFEOeE'}}}}

In [148]:
device_ids = ['SWLSANDBOX1', 'SWLSANDBOX2', 'SWLSANDBOX3']

In [149]:
def get_zones(device_id):
    
    query_zones = """
    query {{
      behaviorZones (
        serialnos: "{0}"
        ) {{
        count
        edges {{
          node {{
            rawId
            text
          }}
        }}
      }}
    }}
    """.format(device_id)
    
    zones = requests.post(url, json={'query': query_zones}, headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in zones.json()['data']['behaviorZones']['edges']])
    df['device'] = device_id
    
    return df

In [150]:
zones_df = pd.concat([get_zones(device_ids[i]) for i in range(3)])

In [151]:
zones_df

   rawId            text       device
0   1899           Zone1  SWLSANDBOX1
1   1947        entrance  SWLSANDBOX1
2   1949       entrance1  SWLSANDBOX1
3   1956       modelzone  SWLSANDBOX1
4   1966    entrence alt  SWLSANDBOX1
5   1969  funny triangle  SWLSANDBOX1
6   1970            Test  SWLSANDBOX1
7   1971      Test Query  SWLSANDBOX1
8   1972          S Zone  SWLSANDBOX1
9   1973          stairs  SWLSANDBOX1
0   1948         Seating  SWLSANDBOX2
1   1962      this place  SWLSANDBOX2
2   1963          exit 2  SWLSANDBOX2
0   1965           Zone1  SWLSANDBOX3

In [152]:
def get_dwell(func, ID):
    '''
    func is either feedDwellTimeDistribution or zoneDwellTimeDistribution
    '''
    if func == 'feedDwellTimeDistribution':
        arg = 'serialnos: "{0}"'.format(ID)
    else:
        arg = 'zoneIds: {0}'.format(ID)
        
    query = """
    query {{
        {0}(
        {1},
        startTime: "2019-02-20T00:00:00",
        endTime: "2020-01-12T00:00:00",
        timezone: "America/New_York",
        objClasses: ["pedestrian"],
        interval: "1h"
        ){{
        edges {{
          node {{
            time
            objClass
            pct100
            pct75
            pct50
            pct25
            mean
            count
          }}
        }}
      }}
    }}
    """.format(func, arg)

    dwell = requests.post(url, json={'query': query}, 
                           headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in dwell.json()['data'][func]['edges']])
    if func == 'feedDwellTimeDistribution':
        df['device'] = ID
    else:
        df['zone'] = ID
    
    return df

In [153]:
feed_dwell_df = pd.concat([get_dwell('feedDwellTimeDistribution', device_ids[i]) 
                           for i in range(3)])

In [156]:
feed_dwell_df[feed_dwell_df['count']!=0]

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
9,18,21.80,pedestrian,47.44,2.61,2.61,7.23,2019-02-20T09:00:00-05:00,SWLSANDBOX1
10,200,8.38,pedestrian,9.91,2.09,2.09,4.19,2019-02-20T10:00:00-05:00,SWLSANDBOX1
11,291,9.05,pedestrian,11.47,2.11,2.11,4.72,2019-02-20T11:00:00-05:00,SWLSANDBOX1
12,716,20.25,pedestrian,18.23,2.63,2.63,6.73,2019-02-20T12:00:00-05:00,SWLSANDBOX1
13,520,13.82,pedestrian,15.08,2.61,2.61,5.78,2019-02-20T13:00:00-05:00,SWLSANDBOX1
...,...,...,...,...,...,...,...,...,...
7800,1,1.04,pedestrian,1.04,1.04,1.04,1.04,2020-01-11T00:00:00-05:00,SWLSANDBOX3
7814,5,4.77,pedestrian,6.26,3.58,3.58,5.22,2020-01-11T14:00:00-05:00,SWLSANDBOX3
7816,3,19.05,pedestrian,38.46,6.21,6.21,12.48,2020-01-11T16:00:00-05:00,SWLSANDBOX3
7817,13,17.69,pedestrian,26.04,5.22,5.22,11.97,2020-01-11T17:00:00-05:00,SWLSANDBOX3
7818,1,3.69,pedestrian,3.69,3.69,3.69,3.69,2020-01-11T18:00:00-05:00,SWLSANDBOX3

In [155]:
zone_dwell_df = pd.concat([get_dwell('zoneDwellTimeDistribution', z)
                           for z in zones_df['rawId'].values])

In [157]:
zone_dwell_df[zone_dwell_df['count']!=0]

,count,mean,objClass,pct100,pct25,pct50,pct75,time,zone
9,5,27.00,pedestrian,67.74,2.58,16.17,47.44,2019-02-20T09:00:00-05:00,1899
10,27,6.58,pedestrian,29.24,1.57,3.14,8.83,2019-02-20T10:00:00-05:00,1899
11,51,8.60,pedestrian,62.40,1.58,3.67,11.23,2019-02-20T11:00:00-05:00,1899
12,139,10.45,pedestrian,111.00,2.04,4.72,13.04,2019-02-20T12:00:00-05:00,1899
13,89,5.72,pedestrian,82.22,1.55,3.09,6.13,2019-02-20T13:00:00-05:00,1899
...,...,...,...,...,...,...,...,...,...
7790,1,2.76,pedestrian,2.76,2.76,2.76,2.76,2020-01-10T14:00:00-05:00,1965
7791,1,3.06,pedestrian,3.06,3.06,3.06,3.06,2020-01-10T15:00:00-05:00,1965
7792,4,3.03,pedestrian,4.41,2.56,3.66,4.13,2020-01-10T16:00:00-05:00,1965
7814,2,1.29,pedestrian,2.10,0.88,1.29,1.70,2020-01-11T14:00:00-05:00,1965
7818,1,3.69,pedestrian,3.69,3.69,3.69,3.69,2020-01-11T18:00:00-05:00,1965