In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
#init_notebook_mode(connected=True)

import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)

# Extra options
# pd.options.display.max_rows = 30
# pd.options.display.max_columns = 25

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import os
from IPython.display import Image, display, HTML

In [42]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

Write the code for your interactive webpage in this notebook.

In [3]:
# store login data in login.py
%run login.py

In [4]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [5]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [6]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [7]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-03-16T18:45:48.668979',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODQzODQzNDgsImlhdCI6MTU4NDI5Nzk0OCwic3ViIjoyNzR9.AyjfY0fkq0xvvNV-JPdEmfZzG16ujeZgpLypNgm7mio'}}}}

In [8]:
device_ids = ['SWLSANDBOX1', 'SWLSANDBOX2', 'SWLSANDBOX3']

In [9]:
def get_zones(device_id):
    
    query_zones = """
    query {{
      behaviorZones (
        serialnos: "{0}"
        ) {{
        count
        edges {{
          node {{
            rawId
            text
          }}
        }}
      }}
    }}
    """.format(device_id)
    
    zones = requests.post(url, json={'query': query_zones}, headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in zones.json()['data']['behaviorZones']['edges']])
    df['device'] = device_id
    
    return df

In [10]:
zones_df = pd.concat([get_zones(device_ids[i]) for i in range(3)])

In [11]:
zones_df

    rawId            text       device
0    1899           Zone1  SWLSANDBOX1
1    1947        entrance  SWLSANDBOX1
2    1949       entrance1  SWLSANDBOX1
3    1956       modelzone  SWLSANDBOX1
4    1966    entrence alt  SWLSANDBOX1
5    1969  funny triangle  SWLSANDBOX1
6    1970            Test  SWLSANDBOX1
7    1971      Test Query  SWLSANDBOX1
8    1972          S Zone  SWLSANDBOX1
9    1973          stairs  SWLSANDBOX1
10   1975        leftZone  SWLSANDBOX1
11   1976       UpperLeft  SWLSANDBOX1
12   1977      UpperRight  SWLSANDBOX1
13   1978      LowerRight  SWLSANDBOX1
14   1979       LowerLeft  SWLSANDBOX1
0    1948         Seating  SWLSANDBOX2
1    1962      this place  SWLSANDBOX2
2    1963          exit 2  SWLSANDBOX2
0    1965           Zone1  SWLSANDBOX3
1    1974              ff  SWLSANDBOX3

In [131]:
def get_dwell(func, ID):
    '''
    func is either feedDwellTimeDistribution or zoneDwellTimeDistribution
    '''
    if func == 'feedDwellTimeDistribution':
        arg = 'serialnos: "{0}"'.format(ID)
    else:
        arg = 'zoneIds: {0}'.format(ID)
        
    query = """
    query {{
        {0}(
        {1},
        startTime: "2019-02-20T00:00:00",
        endTime: "2020-01-12T00:00:00",
        timezone: "America/New_York",
        objClasses: ["pedestrian"],
        interval: "1d"
        ){{
        edges {{
          node {{
            time
            objClass
            pct100
            pct75
            pct50
            pct25
            mean
            count
          }}
        }}
      }}
    }}
    """.format(func, arg)

    dwell = requests.post(url, json={'query': query}, 
                           headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in dwell.json()['data'][func]['edges']])
    if func == 'feedDwellTimeDistribution':
        df['device'] = ID
    else:
        df['zone'] = ID
    
    return df

In [132]:
feed_dwell_df = pd.concat([get_dwell('feedDwellTimeDistribution', device_ids[i]) 
                           for i in range(3)])

In [133]:
feed_dwell_df[feed_dwell_df['count']!=0].head()

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
0,3272,15.26,pedestrian,14.03,2.60,2.60,5.70,2019-02-20T00:00:00-05:00,SWLSANDBOX1
1,158,6.40,pedestrian,7.32,2.56,2.56,4.18,2019-02-21T00:00:00-05:00,SWLSANDBOX1
2,83,19.57,pedestrian,15.10,3.62,3.62,7.87,2019-02-22T00:00:00-05:00,SWLSANDBOX1
3,8,4.69,pedestrian,6.80,2.09,2.09,3.66,2019-02-23T00:00:00-05:00,SWLSANDBOX1
4,6,3.99,pedestrian,6.26,1.06,1.06,4.69,2019-02-24T00:00:00-05:00,SWLSANDBOX1

In [134]:
zone_dwell_df = pd.concat([get_dwell('zoneDwellTimeDistribution', z)
                           for z in zones_df['rawId'].values])

In [135]:
zone_dwell_df[zone_dwell_df['count']!=0]

,count,mean,objClass,pct100,pct25,pct50,pct75,time,zone
0,924,11.70,pedestrian,252.34,2.07,4.64,11.43,2019-02-20T00:00:00-05:00,1899
1,39,4.39,pedestrian,9.99,2.46,4.18,6.32,2019-02-21T00:00:00-05:00,1899
2,23,13.14,pedestrian,123.07,1.52,3.15,6.33,2019-02-22T00:00:00-05:00,1899
4,1,4.72,pedestrian,4.72,4.72,4.72,4.72,2019-02-24T00:00:00-05:00,1899
5,159,6.88,pedestrian,123.50,1.62,3.57,7.18,2019-02-25T00:00:00-05:00,1899
...,...,...,...,...,...,...,...,...,...
320,11,1.03,pedestrian,2.22,0.57,0.81,1.20,2020-01-06T00:00:00-05:00,1974
321,17,5.08,pedestrian,47.03,0.76,0.94,2.12,2020-01-07T00:00:00-05:00,1974
322,13,2.01,pedestrian,13.08,0.41,0.87,1.35,2020-01-08T00:00:00-05:00,1974
323,9,1.62,pedestrian,3.02,0.73,1.70,2.26,2020-01-09T00:00:00-05:00,1974
324,17,7.35,pedestrian,26.21,0.92,1.90,13.15,2020-01-10T00:00:00-05:00,1974

In [46]:
def extract_time(df):
    df['year'] = df['time'].str[:4].astype(int)
    df['month'] = df['time'].str[5:7].astype(int)
    df['day'] = df['time'].str[8:10].astype(int)
    df['date'] = pd.to_datetime(df['time'].str[:10])
    df['hour'] = df['time'].str[11:13].astype(int)
    return df.drop('time', axis=1)

In [40]:
feed_dwell_df = extract_time(feed_dwell_df)
zone_dwell_df = extract_time(zone_dwell_df)

In [136]:
# replace NaN with 0
feed_dwell_df = feed_dwell_df.fillna(0)
zone_dwell_df = zone_dwell_df.fillna(0)

In [137]:
feed_dwell_df['time'] = feed_dwell_df['time'].str[:-6].apply(lambda x : pd.Timestamp(x))

In [138]:
zone_dwell_df['time'] = zone_dwell_df['time'].str[:-6].apply(lambda x : pd.Timestamp(x))

In [139]:
zone_dwell_df.zone = zone_dwell_df.zone.astype(str)

In [140]:
zones_df

    rawId            text       device
0    1899           Zone1  SWLSANDBOX1
1    1947        entrance  SWLSANDBOX1
2    1949       entrance1  SWLSANDBOX1
3    1956       modelzone  SWLSANDBOX1
4    1966    entrence alt  SWLSANDBOX1
5    1969  funny triangle  SWLSANDBOX1
6    1970            Test  SWLSANDBOX1
7    1971      Test Query  SWLSANDBOX1
8    1972          S Zone  SWLSANDBOX1
9    1973          stairs  SWLSANDBOX1
10   1975        leftZone  SWLSANDBOX1
11   1976       UpperLeft  SWLSANDBOX1
12   1977      UpperRight  SWLSANDBOX1
13   1978      LowerRight  SWLSANDBOX1
14   1979       LowerLeft  SWLSANDBOX1
0    1948         Seating  SWLSANDBOX2
1    1962      this place  SWLSANDBOX2
2    1963          exit 2  SWLSANDBOX2
0    1965           Zone1  SWLSANDBOX3
1    1974              ff  SWLSANDBOX3

In [141]:
def plot_dwell_timeline(device_or_zone, column, start_date, start_hour, end_date, end_hour):
    if device_or_zone == 'device':
        df = feed_dwell_df
    else:
        df = zone_dwell_df
        
    plot_df = df.loc[(df.time.dt.date >= start_date) & 
                     (df.time.dt.date <= end_date)].copy()
    
    plot_df.iplot(mode='lines', x='time', y=column, xTitle='time', yTitle=column, 
                  categories=device_or_zone, title=f"Dwell Time ({column})" + 
                             f" grouped by '{device_or_zone}' from" +
                             f" {start_date} to {end_date}")

In [142]:
_ = interact(plot_dwell_timeline, 
             device_or_zone=widgets.RadioButtons(options=['device', 'zone'], value='device'),
             column=widgets.Dropdown(options=['mean', 'pct100', 'pct75', 'pct50', 'pct25'], value='mean'), 
             start_date=widgets.DatePicker(value=pd.to_datetime('2019-02-20')),
             start_hour=widgets.Dropdown(options=list(range(24))),
             end_date=widgets.DatePicker(value=pd.to_datetime('2020-01-12')),
             end_hour=widgets.Dropdown(options=list(range(24)))
            )

interactive(children=(RadioButtons(description='device_or_zone', options=('device', 'zone'), value='device'), …