In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Write the code for your interactive webpage in this notebook.

In [2]:

# store login data in login.py
%run login.py

In [3]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [4]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [5]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [6]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-03-19T18:35:20.371606',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODQ2NDI5MjAsImlhdCI6MTU4NDU1NjUyMCwic3ViIjoyNzd9.UVXu-bPRP8NKPGqR-QW8ACXFaJgsIACvotbNjFPkBuQ'}}}}

In [7]:
device_ids = ['SWLSANDBOX1', 'SWLSANDBOX2', 'SWLSANDBOX3']

In [8]:
def get_zones(device_id):
    
    query_zones = """
    query {{
      behaviorZones (
        serialnos: "{0}"
        ) {{
        count
        edges {{
          node {{
            rawId
            text
          }}
        }}
      }}
    }}
    """.format(device_id)
    
    zones = requests.post(url, json={'query': query_zones}, headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in zones.json()['data']['behaviorZones']['edges']])
    df['device'] = device_id
    
    return df

In [9]:
zones_df = pd.concat([get_zones(device_ids[i]) for i in range(3)])

In [10]:
zones_df

    rawId            text       device
0    1899           Table  SWLSANDBOX1
1    1947        entrance  SWLSANDBOX1
2    1949       entrance1  SWLSANDBOX1
3    1956       modelzone  SWLSANDBOX1
4    1966    entrence alt  SWLSANDBOX1
5    1969  funny triangle  SWLSANDBOX1
6    1972          S Zone  SWLSANDBOX1
7    1973          stairs  SWLSANDBOX1
8    1975        leftZone  SWLSANDBOX1
9    1976       UpperLeft  SWLSANDBOX1
10   1978      LowerRight  SWLSANDBOX1
11   1979       LowerLeft  SWLSANDBOX1
12   1989    StandingZone  SWLSANDBOX1
13   1991            test  SWLSANDBOX1
0    1948        Seating1  SWLSANDBOX2
1    1962      this place  SWLSANDBOX2
2    1963          exit 2  SWLSANDBOX2
3    1983        Seating2  SWLSANDBOX2
4    1984        Seating3  SWLSANDBOX2
5    1987       test_zone  SWLSANDBOX2
6    1988             ccc  SWLSANDBOX2
0    1965           Zone1  SWLSANDBOX3
1    1974              ff  SWLSANDBOX3
2    1985     desireline1  SWLSANDBOX3
3    1986            test  SWLSANDBOX3

In [11]:
def get_dwell(func, ID):
    '''
    func is either feedDwellTimeDistribution or zoneDwellTimeDistribution
    '''
    if func == 'feedDwellTimeDistribution':
        arg = 'serialnos: "{0}"'.format(ID)
    else:
        arg = 'zoneIds: {0}'.format(ID)
        
    query = """
    query {{
        {0}(
        {1},
        startTime: "2019-02-20T00:00:00",
        endTime: "2020-01-12T00:00:00",
        timezone: "America/New_York",
        objClasses: ["pedestrian"],
        interval: "1h"
        ){{
        edges {{
          node {{
            time
            objClass
            pct100
            pct75
            pct50
            pct25
            mean
            count
          }}
        }}
      }}
    }}
    """.format(func, arg)

    dwell = requests.post(url, json={'query': query}, 
                           headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in dwell.json()['data'][func]['edges']])
    if func == 'feedDwellTimeDistribution':
        df['device'] = ID
    else:
        df['zone'] = ID
    
    return df

In [12]:
feed_dwell_df = pd.concat([get_dwell('feedDwellTimeDistribution', device_ids[i]) 
                           for i in range(3)])

In [13]:
feed_dwell_df[feed_dwell_df['count']!=0]

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
9,18,21.80,pedestrian,47.44,2.61,2.61,7.23,2019-02-20T09:00:00-05:00,SWLSANDBOX1
10,200,8.38,pedestrian,9.91,2.09,2.09,4.19,2019-02-20T10:00:00-05:00,SWLSANDBOX1
11,291,9.05,pedestrian,11.47,2.11,2.11,4.72,2019-02-20T11:00:00-05:00,SWLSANDBOX1
12,716,20.25,pedestrian,18.23,2.63,2.63,6.73,2019-02-20T12:00:00-05:00,SWLSANDBOX1
13,520,13.82,pedestrian,15.08,2.61,2.61,5.78,2019-02-20T13:00:00-05:00,SWLSANDBOX1
...,...,...,...,...,...,...,...,...,...
7800,1,1.04,pedestrian,1.04,1.04,1.04,1.04,2020-01-11T00:00:00-05:00,SWLSANDBOX3
7814,5,4.77,pedestrian,6.26,3.58,3.58,5.22,2020-01-11T14:00:00-05:00,SWLSANDBOX3
7816,3,19.05,pedestrian,38.46,6.21,6.21,12.48,2020-01-11T16:00:00-05:00,SWLSANDBOX3
7817,13,17.69,pedestrian,26.04,5.22,5.22,11.97,2020-01-11T17:00:00-05:00,SWLSANDBOX3
7818,1,3.69,pedestrian,3.69,3.69,3.69,3.69,2020-01-11T18:00:00-05:00,SWLSANDBOX3

In [14]:
zone_dwell_df = pd.concat([get_dwell('zoneDwellTimeDistribution', z)
                           for z in zones_df['rawId'].values])

### Obtain heatmap for pedestrians

In [15]:
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta
import calendar
START_DATE = datetime(2019, 2, 20, 0, 0, 0)
END_DATE = datetime(2020, 1, 11, 0, 0, 0)
time_delta = relativedelta(days = +1)

In [16]:
import pandas as pd
heatmap_df = pd.DataFrame(columns = ['startTime', 'endTime', 'heatMap'])

In [17]:
def heatmap_query_gen(startTime: str, endTime: str):
    heatmap_query = """
query {{
  feedHeatmaps(
    serialno: "SWLSANDBOX1",
    startTime:"{0}",
    endTime:"{1}",
    objClasses:["pedestrian"],
    timezone:"America/New_York") {{
    edges {{
      node {{
        time
        objClass
        heatmap
      }}
    }}
  }}
}}
""".format(startTime, endTime)
    return heatmap_query

In [18]:
current_date = START_DATE

while current_date < END_DATE:
    
    start_time_str = current_date.strftime('%Y-%m-%dT%H:%M:%S')
    end_time = current_date + time_delta
    end_time_str = end_time.strftime('%Y-%m-%dT%H:%M:%S')
    heatmap_data = requests.post(url, json={'query': heatmap_query_gen(start_time_str, end_time_str)}, 
                         headers = {'Authorization':token})
    heatmap_json = heatmap_data.json()
    if heatmap_json['data']:
        if 'feedHeatmaps' in heatmap_json['data']:
            heatmap = heatmap_json['data']['feedHeatmaps']['edges'][0]['node']['heatmap']
            temp_df = pd.DataFrame({"startTime":current_date, "endTime":end_time, 'heatMap':heatmap})
            heatmap_df = heatmap_df.append(temp_df, ignore_index = True)
    current_date = current_date + time_delta

In [19]:
ed_heatmap_df = heatmap_df.groupby(['startTime', 'endTime'])['heatMap'].apply(list).reset_index(name='heatMapMatrix')

In [20]:
import ipywidgets as widgets
import matplotlib.image as mpimg 
def plot_heatmap(index):
    map_img = mpimg.imread('streetscape_sandbox.png')
    matrix = ed_heatmap_df.loc[index, 'heatMapMatrix']
    x = [i[0] for i in matrix] 
    y = [i[1] for i in matrix]
    z = [i[2] for i in matrix]
    fig, ax = plt.subplots(figsize=(15,10))
    ax.scatter(x, y, c=z, s=10, cmap=plt.cm.Wistia) # Other color maps: plt.cm.cmap_d.keys())
    ax.imshow(map_img, aspect='auto')
    plt.axis('off')
    plt.title("Heatmap")
widgets.interact(plot_heatmap, index=widgets.IntSlider(min = 10, max = 100, step = 1))

interactive(children=(IntSlider(value=10, description='index', min=10), Output()), _dom_classes=('widget-inter…

### ZoneHeatmap

In [21]:
def zone_heatmap_query_gen(startTime: str, endTime: str):
    heatmap_query = """
query {{
  zoneHeatmaps(
    zoneIds: [1947],
    startTime:"{0}",
    endTime:"{1}",
    objClasses:["pedestrian"],
    timezone:"America/New_York") {{
    edges {{
      node {{
        time
        heatmap
      }}
    }}
  }}
}}
""".format(startTime, endTime)
    return heatmap_query

In [22]:
zone_heatmap_df = pd.DataFrame(columns = ['startTime', 'endTime', 'heatMap'])

In [23]:
current_date = START_DATE

while current_date < END_DATE:
    
    start_time_str = current_date.strftime('%Y-%m-%dT%H:%M:%S')
    end_time = current_date + time_delta
    end_time_str = end_time.strftime('%Y-%m-%dT%H:%M:%S')
    heatmap_data = requests.post(url, json={'query': zone_heatmap_query_gen(start_time_str, end_time_str)}, 
                         headers = {'Authorization':token})
    heatmap_json = heatmap_data.json()
    if heatmap_json['data']:
        if 'zoneHeatmaps' in heatmap_json['data']:
            heatmap = heatmap_json['data']['zoneHeatmaps']['edges'][0]['node']['heatmap']
            temp_df = pd.DataFrame({"startTime":current_date, "endTime":end_time, 'heatMap':heatmap})
            zone_heatmap_df = zone_heatmap_df.append(temp_df, ignore_index = True)
    current_date = current_date + time_delta

In [24]:
zone_heatmap_df

      startTime    endTime            heatMap
0    2019-02-20 2019-02-21   [215, 53, 0.855]
1    2019-02-20 2019-02-21   [233, 53, 0.855]
2    2019-02-20 2019-02-21   [214, 54, 0.855]
3    2019-02-20 2019-02-21   [230, 54, 0.855]
4    2019-02-20 2019-02-21   [231, 54, 0.855]
...         ...        ...                ...
4146 2020-01-07 2020-01-08  [157, 202, 0.945]
4147 2020-01-07 2020-01-08  [158, 202, 0.945]
4148 2020-01-07 2020-01-08  [154, 203, 0.945]
4149 2020-01-07 2020-01-08  [156, 203, 0.945]
4150 2020-01-07 2020-01-08  [155, 204, 0.945]

[4151 rows x 3 columns]

In [25]:
ed_zone_heatmap_df = zone_heatmap_df.groupby(['startTime', 'endTime'])['heatMap'].apply(list).reset_index(name='heatMapMatrix')

In [26]:
ed_zone_heatmap_df

    startTime    endTime                                      heatMapMatrix
0  2019-02-20 2019-02-21  [[215, 53, 0.855], [233, 53, 0.855], [214, 54,...
1  2019-02-21 2019-02-22  [[209, 65, 0.961], [210, 65, 0.961], [211, 65,...
2  2019-02-26 2019-02-27  [[184, 77, 1.0], [185, 77, 1.0], [193, 77, 1.0...
3  2019-03-01 2019-03-02  [[219, 67, 1.0], [220, 67, 1.0], [219, 68, 1.0...
4  2019-04-02 2019-04-03  [[194, 71, 0.776], [193, 72, 0.776], [168, 75,...
5  2019-04-09 2019-04-10  [[167, 74, 1.0], [168, 74, 0.839], [165, 75, 0...
6  2019-04-16 2019-04-17                   [[168, 76, 1.0], [169, 76, 1.0]]
7  2019-04-25 2019-04-26  [[194, 67, 1.0], [193, 68, 1.0], [170, 75, 1.0...
8  2019-04-28 2019-04-29                                   [[167, 78, 1.0]]
9  2019-04-29 2019-04-30  [[167, 76, 0.89], [167, 77, 1.0], [169, 77, 0....
10 2019-05-07 2019-05-08   [[179, 76, 1.0], [180, 76, 1.0], [181, 76, 1.0]]
11 2019-05-13 2019-05-14  [[194, 61, 0.376], [193, 62, 1.0], [194, 62, 0...
12 2019-05-14 2019-05-15  [[166, 77, 0.6], [166, 78, 0.6], [167, 78, 0.6...
13 2019-05-15 2019-05-16  [[192, 62, 0.851], [193, 62, 0.996], [194, 62,...
14 2019-05-17 2019-05-18  [[148, 42, 0.922], [146, 43, 0.922], [147, 43,...
15 2019-05-20 2019-05-21  [[194, 24, 0.753], [217, 24, 0.753], [193, 25,...
16 2019-11-11 2019-11-12  [[194, 77, 1.0], [194, 78, 1.0], [195, 79, 1.0...
17 2019-11-24 2019-11-25  [[198, 82, 1.0], [198, 83, 1.0], [198, 84, 1.0...
18 2019-12-06 2019-12-07  [[166, 75, 1.0], [167, 75, 1.0], [164, 76, 1.0...
19 2020-01-07 2020-01-08  [[122, 61, 0.945], [122, 62, 0.945], [123, 62,...

In [27]:
def plot_zone_heatmap(index):
    map_img = mpimg.imread('streetscape_sandbox.png')
    matrix = ed_zone_heatmap_df.loc[index, 'heatMapMatrix']
    x = [i[0] for i in matrix] 
    y = [i[1] for i in matrix]
    z = [i[2] for i in matrix]
    fig, ax = plt.subplots(figsize=(15,10))
    ax.scatter(x, y, c=z, s=10, cmap=plt.cm.Wistia) # Other color maps: plt.cm.cmap_d.keys())
    ax.imshow(map_img, aspect='auto')
    plt.axis('off')
    plt.title("Heatmap")
widgets.interact(plot_heatmap, index=widgets.IntSlider(min = 10, max = 100, step = 1))

interactive(children=(IntSlider(value=10, description='index', min=10), Output()), _dom_classes=('widget-inter…